@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

.greeting-text {
    display: flex; 
    align-items: center; 
    font-size: 40px;
    font-family: 'oxygen';
    font-weight: 400;
    width: 933px; 
    height: 100px; 
    color: #2DBDB1;
    background-color: #dcfffc; 
    border-radius: 10px; 
    padding-left: 30px; 
}

.bold-text {
    font-weight: 700; 
}